<html>
<head>
<title><%=title%></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/javascripts/kindeditor/plugins/code/prettify.css" />
<link href="/javascripts/prettify/prettify.css" type="text/css" rel="stylesheet" />
<script src="/javascripts/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/javascripts/prettify/prettify.js"></script>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29758911-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	jQuery(function($){
		prettyPrint();
	})
</script>
</head>
<body>
	<div id="wrapper">
		<div id="container">
			<a href='#' id='logo'>ully's bar</a>
			<ul id="menu">
				<li><a class="title" href="/index">Home</a></li>
				<li><a class="title" href="/works">Works</a></li>
				<li><a class="title" href="/blog">Blog</a></li>
				<li><a class="title" href="/about">About</a></li>
			</ul>
			
			<%- body%>

			<div style="text-align: center;margin-top :5px">made by ully</div>
		</div>
	</div>
</body>
</html>